
.paragrafo{
    background-color: blueviolet;
    color: rgb(255, 252, 247);
    font-weight: bold;
    font-size: 22px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
